@font-face {
  font-family: GothamProBold; /* Гарнитура шрифта */
 
  src: url(../fonts/GOTHAPROBOL.OTF); /* Путь к файлу со шрифтом */
  font-weight: bold;
 }

 @font-face {
  font-family: GothamProRegular; /* Гарнитура шрифта */
  src: url(../fonts/GOTHAPROREG.OTF);
  font-weight: normal;
 }


